<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="WP Media" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
	<description>The custom ruleset for WP Media projects</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- ** WHAT TO SCAN ** -->

	<file>.</file>
	<!-- Ignoring Files and Folders: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->
	<exclude-pattern>/Tests/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<!-- ** HOW TO SCAN ** -->

	<arg value="sp"/><!-- Show sniff and progress -->
	<arg name="colors"/><!-- Show results with colors -->
	<arg name="parallel" value="50"/><!-- Enables parallel processing when available for faster results. -->
	<arg name="extensions" value="php"/><!-- Limit to PHP files -->

	<!-- Rules: Check PHP version compatibility - see https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibility"/>
	<config name="testVersion" value="5.6-"/>
	<config name="minimum_supported_wp_version" value="4.9"/>

	<rule ref="WordPress">
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

        <!-- Exclude formatting rules for the code review. -->
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceAfterOpenBracket"/>
        <exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeCloseBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.SpaceBeforeOpenBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments"/>
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine"/>

		<exclude name="Generic.WhiteSpace.ScopeIndent.Incorrect"/>
		<exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning"/>
		<exclude name="Generic.Arrays.DisallowLongArraySyntax.Found"/>

		<exclude name="Squiz.WhiteSpace.SuperfluousWhitespace.EmptyLines"/>
		<exclude name="Squiz.ControlStructures.ControlSignature.SpaceAfterKeyword"/>
		<exclude name="Squiz.Strings.ConcatenationSpacing.PaddingFound"/>

        <exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedClassFound"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceAfterArrayOpener"/>
        <exclude name="WordPress.Arrays.ArrayDeclarationSpacing.NoSpaceBeforeArrayCloser"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterStructureOpen"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeCloseParenthesis"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceAfterOpenParenthesis"/>
        <exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase"/>
        <exclude name="WordPress.WhiteSpace.ControlStructureSpacing.NoSpaceBeforeOpenParenthesis"/>
        <exclude name="WordPress.WhiteSpace.OperatorSpacing.NoSpaceAfter"/>
        <exclude name="WordPress.Classes.ClassInstantiation.MissingParenthesis"/>
	</rule>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="wp-media-site-crawl" />
        </properties>
    </rule>
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="rocket,wp_rocket" />
        </properties>
    </rule>
    <rule ref="WordPress.Files.FileName">
        <properties>
            <property name="strict_class_file_names" value="false" />
        </properties>
    </rule>
	<rule ref="WordPress-Docs">
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="Squiz.Commenting.ClassComment.Missing"/>

		<!-- Exclude documentation rules for the code review. -->
		<exclude name="Squiz.Commenting.ClassComment.SpacingAfter"/>
		<exclude name="Squiz.Commenting.FunctionComment.Missing"/>
		<exclude name="Squiz.Commenting.InlineComment.NoSpaceBefore"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Generic.Commenting.DocComment.MissingShort"/>
		<exclude name="Squiz.Commenting.FunctionComment.WrongStyle"/>
		<exclude name="Squiz.Commenting.InlineComment.SpacingBefore"/>
		<exclude name="Squiz.Commenting.FileComment.SpacingAfterComment"/>
		<exclude name="Squiz.PHP.CommentedOutCode.Found"/>
	</rule>

	<!-- Rules: WordPress Coding Standards - see
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards
		WordPress-Extra includes WordPress-Core -->
	<rule ref="WordPress-Extra">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.DisallowShortTernary.Found"/>
	</rule>

	<!-- Enforce short array syntax: `[]` in place of `array()`. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />
</ruleset>
